{% extends "adminbase.html" %}
	{% block content %}
		<hr>
		<form id="listplayers" action="/admin.listplayers" method="post" target='output'>
		<input type="submit" value="List Players"></form>
		<br>
		<hr>
		Addplayer
		<form id="addplayer" action="/admin.addplayer" method="post" target='output'>
		<label for="playername">Playername</label>
		<input type="text" name="playername" size="40">
		<label for="playerpw">Password</label>
		<input type="text" name="password" size="40">
		<br>
		<label for="team">Team</label>
			<select name="team" size="1">
				<option selected value="red">Red</option>
				<option value="green">green</option>
				<option value="blue">blue</option>
			</select>
		<br>
		<label for="submit">Add Player</label>
		<input type="submit" value="Add">
		</form>
		<br>
		<hr>
		Check Login
		<form id="addplayer" action="/admin.checklogin" method="post" target='output'>
		<label for="playername">Playername</label>
		<input type="text" name="playername" size="40">
		<label for="playerpw">Password</label>
		<input type="text" name="password" size="40">
		<br>
		<label for="submit">Check Login</label>
		<input type="submit" value="Check">
		</form>
		<br>
		<hr>
	</div>
	<iframe id="output" style='width: 100%; height: 500px; border: 1px solid #000000;' name='output'></iframe>
{% endblock %}
